.scroll-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  box-sizing: border-box;
}

.scroll-item {
  display: inline-block;
  width: 300px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  margin-right: 10px;
  background-color: #f0f0f0;
  border: 1px solid #999;
  text-align: center;
  transition: transform 0.3s, opacity 0.3s;
}

.scroll-item iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.scroll-item.active {
  transform: scale(1.5);
  opacity: 1;
}

.scroll-item.inactive {
  opacity: 0.5;
}

.navbar {
    overflow: hidden;
    background-color: #595959;
    margin: -8px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ffffff;
    border-radius: 5px;
    color: black;
  }
  
  .navbar a.active {
    background-color: #0000cc;
    color: white;
    border-radius: 5px;
  }
  
  .navbar-right {
    float: right;
  }
  
  .navbar img {
    float: left;
    width: 45px;
    length: 45px;
  }
  
  .navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  @media screen and (max-width: 600px) {
    .navbar input[type=text] {
      border: 2px solid black;
    }
  }
  